.brand-title {
  font-family: 'Bitter', serif;
  font-weight: 900;
  font-size: clamp(2.5rem, 0.1rem + 9vw ,10rem);
  text-shadow: 1px 1px 1px var(--color-1);
}

.user-routes {
  width: 75%;
  max-width: 1280px;
  margin: 2rem 0rem;
  // border-top: 2px solid var(--color-1);
  // border-bottom: 2px solid var(--color-1);
  font-size: clamp(0.5rem, 0.1rem + 1.5vw , 1rem);
  font-weight: 600;


  ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--color-1);
  }

  li {
  display: inline;
  float: right;
  padding-left: 1rem;
  }

  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  li a:hover {
  background-color: #111;
  }

}


.nav-routes {
  width: 75%;
  max-width: 1280px;
  border-top: 2px solid var(--color-1);
  border-bottom: 2px solid var(--color-1);
  font-size: clamp(1rem, 0.1rem + 1.5vw , 1.4rem);
  font-weight: 600;


  ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--color-1);
  }

  li {
  display: inline;
  float: center;
  padding: 0.5rem 1rem;
  }

  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  li a:hover {
  background-color: #111;
  }

}

